.heading_cell {
	--icon-size: 20px;
	background-color: var(--background-color);
	transition-property: background-color;
	border-radius: 2px;
	font-weight: var(--font-weight-semibold);

	&:not(._is-sortable) {
		--sort-icon-opacity: 0;
	}

	&._is-sortable {
		&:not(:hover) {
			--sort-icon-opacity: 0;
		}

		&:hover {
			--sort-icon-opacity: 1;
		}
	}

	&:not(:hover) {
		--background-color: transparent;
	}

	&:hover {
		--background-color: rgb(255 255 255 / 5%);
	}

	& i {
		--icon-color: var(--primary-color);
		margin-left: 8px;
		transform: rotateX(180deg);
		opacity: var(--sort-icon-opacity);
		transition-property: opacity, background-color;
	}
}
