.header {
	display: flex;
	align-items: center;
	height: 100px;
	position: sticky;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(var(--film-background-color, var(--film-background-color-default)), var(--header-opacity));
	box-shadow: 0 2px 2px rgba(var(--film-background-color, var(--film-background-color-default)), var(--header-opacity));
	transition-property: box-shadow, background-color;

	&:not(:global(._is-filled)) {
		--header-opacity: 0;
	}

	&:global(._is-filled) {
		--header-opacity: 1;
	}

	& :global(.container) {
		position: relative;
		display: grid;
		grid-template-columns: [nav-start] 1fr [nav-end] 30px [logo-start] auto [logo-end] 30px [actions-start] 1fr [actions-end];
		align-items: center;

		& .navigation {
			grid-area: nav;
			display: flex;
			align-items: center;
			min-width: 0;

			& .link {
				color: #fff;
				font-size: 16px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				&:nth-of-type(n+2) {
					margin-left: 30px;
				}
			}
		}

		& .logo {
			grid-area: logo;
			color: #fff;
			font-weight: var(--font-weight-bold);
			font-size: 26px;
		}

		& .actions {
			grid-area: actions;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			min-width: 0;

			& .button {
				--button-size: 40px;
				--icon-size: 24px;
				--icon-color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				width: var(--button-size);
				height: var(--button-size);

				&:nth-of-type(n+2) {
					margin-left: 12px;
				}

				& .avatar {
					--size: 34px;
					width: var(--size);
					height: var(--size);
					border-radius: 50%;
					background-color: #fff;
				}
			}
		}
	}
}
