.series {
	display: flex;
	flex-direction: column;

	& .subheader {
		flex-shrink: 0;
	}

	& .table {
		flex-grow: 1;
		min-height: 0;

		& .genre {
			&:nth-of-type(n+2) {
				margin-left: 12px;
			}
		}

		& .more_genres {
			--height: 24px;
			flex-shrink: 0;
			height: var(--height);
			margin-left: 12px;
			padding-left: 8px;
			padding-right: 8px;
			line-height: var(--height);
			border-radius: calc(var(--height) / 2);
			font-size: 14px;
			color: var(--primary-color);
			background-color: var(--accent-color);
		}
	}
}
