.subheader {
	--subheader-height: 100px;
	display: flex;
	align-items: center;
	height: var(--subheader-height);
	padding-left: var(--layout-padding);
	padding-right: var(--layout-padding);

	& .title {
		font-weight: var(--font-weight-semibold);
		color: var(--text-color);
		font-size: 28px;
	}

	& .search_button {
		--icon-size: 22px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: var(--subheader-height);
		height: var(--subheader-height);
		margin-left: auto;

		&:not(:hover) {
			--icon-color: var(--caption-color);
		}

		&:hover {
			--icon-color: var(--primary-color);
		}
	}

	& .add_movie_button {
		flex-shrink: 0;
		margin-left: 12px;
	}
}
