.header {
	display: flex;
	align-items: center;
	height: 100px;
	padding-left: var(--layout-padding);
	padding-right: var(--layout-padding);

	& .title_wrapper {
		position: relative;
		display: flex;
		align-items: center;
		min-width: 0;
		margin-left: -16px;
		padding-left: 16px;
		padding-right: 12px;
		border-radius: 3px;
		cursor: text;
		box-shadow: 0 0 0 1px var(--title-border-color) inset;
		transition-property: box-shadow;

		&:not(:hover) {
			--title-border-color: transparent;
			--edit-opacity: 0;
		}

		&:hover {
			--title-border-color: #5a5a5a;
			--edit-opacity: 1;
		}

		& .title {
			--height: 58px;
			height: var(--height);
			line-height: var(--height);
			font-weight: var(--font-weight-semibold);
			color: var(--text-color);
			font-size: 28px;
		}

		& .edit_button {
			--icon-size: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 100%;
			margin-left: 16px;
			opacity: var(--edit-opacity);
			transition-property: opacity;

			&:not(:hover) {
				--icon-color: #bbb;
			}

			&:hover {
				--icon-color: var(--primary-color);
			}
		}
	}

	& .dropdown_wrapper {
		margin-left: auto;

		&:hover + .dropdown {
			--dropdown-opacity: 1;
			--dropdown-pointer-events: auto;
		}

		& .add_button {
			--button-size: 80px;
			--icon-size: 30px;
			--icon-color: var(--primary-color);
			display: flex;
			align-items: center;
			justify-content: center;
			height: var(--button-size);
			width: var(--button-size);
			border-radius: 50%;
			background-color: #bf1919;

			&:hover > i {
				transform: rotate(135deg);
			}

			& i {
				transition-property: transform;
			}
		}


		& .dropdown {
			position: absolute;
			top: 90px;
			right: var(--layout-padding);
			z-index: 1;
			width: 300px;
			height: 700px;
			opacity: var(--dropdown-opacity);
			pointer-events: var(--dropdown-pointer-events);
			background-color: #bbbbbb;
			transition-property: opacity;

			&:not(:hover) {
				--dropdown-opacity: 0;
				--dropdown-pointer-events: none;
			}

			&:hover {
				--dropdown-opacity: 1;
				--dropdown-pointer-events: auto;

			}
		}
	}

	& .title_form {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 500px;

		& .input {
			width: 100%;
			margin-left: -16px;

			& input {
				font-size: 28px;
				font-weight: var(--font-weight-semibold);
			}
		}

		& .input + .button,
		& .input + .loading {
			margin-left: 12px;
		}

		& .button {
			--icon-size: 28px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 58px;

			&:not(:hover) {
				--icon-color: #bbb;
			}

			&:hover {
				--icon-color: #fff;
			}
		}

		& .loading {
			--spinner-size: 20px;
			position: relative;
			width: 58px;
			height: 58px;
		}
	}
}
