.header {
	display: flex;
	align-items: center;
	height: var(--header-height);
	padding-left: var(--layout-padding);
	padding-right: var(--layout-padding);

	& .title_wrapper {
		position: relative;
		display: flex;
		align-items: center;
		min-width: 0;
		margin-left: -16px;
		padding-left: 16px;
		padding-right: 12px;
		border-radius: 3px;
		cursor: text;
		box-shadow: 0 0 0 1px var(--title-border-color) inset;
		transition-property: box-shadow;

		&:not(:hover) {
			--title-border-color: transparent;
			--edit-opacity: 0;
		}

		&:hover {
			--title-border-color: #5a5a5a;
			--edit-opacity: 1;
		}

		& .title {
			--height: 58px;
			height: var(--height);
			line-height: var(--height);
			font-weight: var(--font-weight-semibold);
			color: var(--text-color);
			font-size: 28px;
		}

		& .edit_button {
			--icon-size: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 100%;
			margin-left: 16px;
			opacity: var(--edit-opacity);
			transition-property: opacity;

			&:not(:hover) {
				--icon-color: #bbb;
			}

			&:hover {
				--icon-color: var(--primary-color);
			}
		}
	}

	& .add_menu_wrapper {
		--add-button-size: 60px;
		margin-left: auto;

		&:hover {
			--transform: rotate(135deg);
		}

		& .add_button {
			--icon-size: 26px;
			--icon-color: var(--primary-color);
			position: relative;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;
			height: var(--add-button-size);
			width: var(--add-button-size);
			border-radius: 50%;
			background-color: #bf1919;

			& i {
				transform: var(--transform);
				transition-property: transform;
			}
		}

		& .add_button:hover + .dropdown_wrapper {
			--dropdown-opacity: 1;
			--dropdown-pointer-events: auto;
		}

		& .dropdown_wrapper {
			--triangle-size: 10px;
			position: absolute;
			z-index: 1;
			top: var(--add-button-size);
			right: var(--layout-padding);
			padding-top: 30px;
			pointer-events: var(--dropdown-pointer-events);
			opacity: var(--dropdown-opacity);
			transition-property: opacity;

			&:not(:hover) {
				--dropdown-opacity: 0;
				--dropdown-pointer-events: none;
			}

			&:hover {
				--dropdown-opacity: 1;
				--dropdown-pointer-events: auto;
			}

			& .dropdown {
				position: relative;
				padding-top: 16px;
				padding-bottom: 16px;
				border-radius: 4px;
				background-color: var(--root-background-color-hover);

				&:before {
					content: "";
					position: absolute;
					bottom: 100%;
					right: calc(var(--add-button-size) / 2);
					transform: translateX(50%);
					width: 0;
					height: 0;
					border-left: var(--triangle-size) solid transparent;
					border-right: var(--triangle-size) solid transparent;
					border-bottom: var(--triangle-size) solid var(--root-background-color-hover);
				}

				& .dropdown_link {
					--icon-size: 26px;
					display: flex;
					align-items: center;
					height: 54px;
					padding-left: var(--layout-padding);
					padding-right: var(--layout-padding);
					color: var(--color);
					background-color: var(--background);
					transition-property: color, background;

					& i {
					}

					& span {
						margin-left: 20px;
					}

					&:not(:hover) {
						--icon-color: var(--caption-color);
						--color: var(--caption-color);
						--background: transparent;
					}

					&:hover {
						--icon-color: var(--primary-color);
						--color: var(--primary-color);
						--background: #ffffff0d;
					}
				}
			}
		}
	}

	& .title_form {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 500px;

		& .input {
			width: 100%;
			margin-left: -16px;

			& input {
				font-size: 28px;
				font-weight: var(--font-weight-semibold);
			}
		}

		& .input + .button,
		& .input + .loading {
			margin-left: 12px;
		}

		& .button {
			--icon-size: 28px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 58px;

			&:not(:hover) {
				--icon-color: #bbb;
			}

			&:hover {
				--icon-color: #fff;
			}
		}

		& .loading {
			--spinner-size: 20px;
			position: relative;
			width: 58px;
			height: 58px;
		}
	}
}
