.button {
	--icon-size: 28px;
  --height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--width, 150px);
	padding-left: 20px;
	padding-right: 20px;
  height: var(--height);
  line-height: var(--height);
  font-size: var(--default-font-size);
  font-weight: var(--font-weight-semibold);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
	cursor: var(--cursor);
  transition-property: width, background-color;

	&:not(._is-loading) {
		--text-opacity: 1;
	}

	&._is-loading {
		--text-opacity: 0;
	}

	&:not(disabled) {
		--cursor: pointer;
	}

	&[disabled] {
		--cursor: context-menu;
	}

	&[theme="primary"] {
		--button-main-color: var(--primary-color);
		--button-main-color-hover: var(--primary-color);
		--button-secondary-color: var(--root-background-color);
	}

	&[theme="accent"] {
		--button-main-color: var(--accent-color);
		--button-main-color-hover: var(--accent-color-hover);
		--button-secondary-color: var(--primary-color);
	}

	&[appearance="fill"] {
		&:not(._is-disabled) {
			&:not(._is-loading) {
				--color: var(--button-secondary-color);

				&:not(:hover) {
					--background-color: var(--button-main-color);
					--border-color: var(--button-main-color);
				}

				&:hover {
					--background-color: var(--button-main-color-hover);
					--border-color: var(--button-main-color-hover);
				}
 			}

			&._is-loading {
				--background-color: var(--button-main-color);
				--color: transparent;
				--border-color: var(--button-main-color);
			}
		}

		&._is-disabled {
			--background-color: var(--divider-color);
			--color: var(--button-secondary-color);
			--border-color: var(--divider-color);
		}

		& .loading {
			--line-color: var(--button-secondary-color);
			--border-color: var(--button-main-color);
		}
	}

	&[appearance="outline"] {
		&:not(._is-disabled) {
			&:not(._is-loading) {
				--background-color: transparent;
				--color: var(--button-main-color);
				--border-color: var(--button-main-color);
			}

			&._is-loading {
				--background-color: transparent;
				--color: transparent;
				--border-color: var(--button-main-color);
			}
		}

		&._is-disabled {
			--background-color: transparent;
			--color: var(--divider-color);
			--border-color: var(--divider-color);
		}

		& .loading {
			--line-color: transparent;
			--border-color: var(--button-main-color);
		}
	}

	& i {
		--icon-color: var(--color);
		opacity: var(--text-opacity);
		flex-shrink: 0;

	  & + .caption {
	  	margin-left: 12px;
	  }
	}

	& .caption {
		--height: 20px;
		overflow: hidden;
		min-width: 0;
		height: var(--height);
		line-height: var(--height);
		color: var(--color);
		white-space: nowrap;
		text-overflow: ellipsis;
		opacity: var(--text-opacity);
		transition-property: color, opacity;
	}
}

