.button {
  --height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-width);
	padding-left: 12px;
	padding-right: 12px;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  font-weight: var(--font-weight-semibold);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: calc(var(--height) / 2);
  cursor: var(--cursor);
  transition-property: width;

	&:not(._is-loading) {
		--text-opacity: 1;
		--button-width: var(--width, 250px);
	}

	&._is-loading {
		--text-opacity: 1;
		--button-width: var(--height);
	}

	&:not(disabled) {
		--cursor: pointer;
	}

	&[disabled] {
		--cursor: context-menu;
	}

	&[theme="primary"] {
		--main-color: var(--primary-color);
		--secondary-color: #fff;
	}

	&[theme="contrast"] {
		--main-color: #fff;
		--secondary-color: var(--primary-color);
	}

	&[appearance="fill"] {
		&:not(._is-disabled) {
			&:not(._is-loading) {
				--background-color: var(--main-color);
				--color: var(--secondary-color);
				--border-color: var(--main-color);
			}

			&._is-loading {
				--background-color: var(--main-color);
				--color: transparent;
				--border-color: var(--main-color);
			}
		}

		&._is-disabled {
			--background-color: var(--divider-color);
			--color: var(--secondary-color);
			--border-color: var(--divider-color);
		}

		& .loading {
			--line-color: var(--secondary-color);
			--border-color: var(--main-color);
		}
	}

	&[appearance="outline"] {
		&:not(._is-disabled) {
			&:not(._is-loading) {
				--background-color: transparent;
				--color: var(--main-color);
				--border-color: var(--main-color);
			}

			&._is-loading {
				--background-color: transparent;
				--color: transparent;
				--border-color: var(--main-color);
			}
		}

		&._is-disabled {
			--background-color: transparent;
			--color: var(--divider-color);
			--border-color: var(--divider-color);
		}

		& .loading {
			--line-color: var(--main-color);
			--border-color: var(--secondary-color);
		}
	}

	& .caption {
		--height: 20px;
		overflow: hidden;
		min-width: 0;
		height: var(--height);
		line-height: var(--height);
		color: var(--color);
		letter-spacing: 1px;
		text-transform: uppercase;
		white-space: nowrap;
		text-overflow: ellipsis;
		opacity: var(--text-opacity);
		transition-property: color, opacity;
	}
}

