.cast {
	& .cast_list {
		margin-top: 30px;

		& .item {
			display: flex;
			align-items: center;

			&:nth-of-type(n+2) {
				margin-top: 20px;
			}

			& .photo {
				--size: 70px;
				flex-shrink: 0;
				width: var(--size);
				height: var(--size);
				border-radius: 50%;
				background-color: var(--root-background-color-hover);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}

			& .information {
				margin-left: 20px;

				& .name {

				}

				& .character {
					margin-top: 2px;
					font-size: 14px;
					color: #ffffff8f;
				}
			}

			& .delete {
				--icon-size: 20px;
				--icon-color: var(--primary-color);
				flex-shrink: 0;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				margin-left: 20px;

				& .loading {
					--spinner-size: 20px;
					background-color: var(--root-background-color);
				}
			}
		}
	}
}
