.subheader {
  position: relative;
  height: 200px;
  padding-top: 70px;
  background-color: var(--primary-color);

	&:global(.container) > h2 {
	  display: block;
	  color: #fff;

		& p {
		  display: block;
		  color: #fff;
		}
	}
}
