.home {
	--film-background-color: 0, 0, 0;
	position: relative;
	min-height: 100%;

	& .subtitle {
		font-size: 28px;
		color: #fff;
		font-weight: var(--font-weight-bold);
	}

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-image: url("./images/queen-gambit.jpeg");
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center 0;
		pointer-events: none;
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.2);
		pointer-events: none;
	}

	& > section {
		position: relative;
		z-index: 1;
	}

	& .main_block {
		padding-top: 60px;

		& ~ section {
			background-color: #000;
		}

		& + * {
			margin-top: 100px;

			&:before {
				content: "";
				position: absolute;
				bottom: 100%;
				left: 0;
				width: 100%;
				height: 40px;
				background: linear-gradient(0deg, rgba(0, 0, 0, 1) 31%, rgba(0, 0, 0, 0) 100%);
			}
		}

		& :global(.container) {
			& .title {
				color: #fff;
				font-size: 60px;
				font-weight: var(--font-weight-bold);
			}

			& .description {
				margin-top: 16px;
				color: #fff;
				font-size: 16px;
			}

			& .actions {
				--height: 50px;
				display: flex;
				margin-top: 20px;

				& .watch {
					height: var(--height);
					padding-left: 30px;
					padding-right: 30px;
					line-height: var(--height);
					font-size: 16px;
					color: #fff;
					background-color: #e50815;
					border-radius: 2px;
					border: 1px solid #e50815;
				}

				& .trailer {
					height: var(--height);
					margin-left: 12px;
					padding-left: 30px;
					padding-right: 30px;
					line-height: var(--height);
					font-size: 16px;
					color: #fff;
					background-color: transparent;
					border-radius: 2px;
					border: 1px solid #fff;
				}
			}
		}
	}

	& .continue {
		overflow-x: clip;
		padding-top: 30px;
		padding-bottom: 30px;

		& .subtitle {}

		& .continue_list {
			display: flex;
			white-space: nowrap;
			gap: 20px;
			margin-top: 30px;

			& .continue_item {
				flex-shrink: 0;
				height: 280px;
				width: 200px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}

	& .popular {
		overflow-x: clip;
		padding-top: 30px;
		padding-bottom: 30px;

		& .subtitle {}

		& .popular_list {
			display: flex;
			white-space: nowrap;
			gap: 20px;
			margin-top: 30px;

			& .popular_item {
				flex-shrink: 0;
				height: 280px;
				width: 200px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}
}
