.home {
	position: relative;
	margin-top: calc(var(--header-height) * -1);

	& .subtitle {
		font-size: 28px;
		color: #fff;
		font-weight: var(--font-weight-bold);
	}

	& .main_block {
		position: relative;
		display: flex;
		align-items: center;
		height: calc(100vh - 100px);
		padding-top: var(--header-height);
		padding-bottom: var(--header-height);
		background-image: url("./images/queen-gambit.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.2);
		}

		& :global(.container) {
			position: relative;

			& .title {
			}

			& .description {
				margin-top: 20px;
				color: #fff;
				font-size: 18px;
			}

			& .actions {
				display: flex;
				margin-top: 40px;

				& .button {
					&:nth-of-type(n+2) {
						margin-left: 20px;
					}
				}
			}
		}

		& + * {
			position: relative;
			padding-top: 50px;
			padding-bottom: 30px;

			&:before {
				content: "";
				position: absolute;
				bottom: 100%;
				left: 0;
				width: 100%;
				height: 40px;
				background: linear-gradient(0deg, rgba(18, 18, 18, 1) 31%, rgba(0, 0, 0, 0) 100%);
			}

			& ~ section {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
	}

	& .continue {
		& .continue_list {
			margin-top: 30px;
			display: flex;
			gap: 20px;

			& .continue_items {
				flex-basis: 50%;
				height: 300px;
				background-image: url("https://avatars.mds.yandex.net/get-ott/374297/2a00000169e82e09e27fbf1db1708110f2b6/1344x756");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				position: relative;

				& .play_button {
					--icon-color: #fff;
					--icon-size: 36px;
					 position: absolute;
					 top: 50%;
					 left: 50%;
					 transform: translate(-50%, -50%);
				}

				& .description {
					width: 100%;
					margin-top: auto;
					position: absolute;
					left: 0;
					bottom: 0;
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 12px;

					& .name_film {
						font-weight: var(--font-weight-semibold);
						font-size: 16px;
					}

					& .film_year {
						font-size: 14px;
					}

					& .rewind_bar {
						margin-top: 8px;
						display: flex;
						align-items: center;

						& .time {
							display: block;
							font-size: 12px;
						}

						& .rewind {
							width: 100%;
							background-color: #fff;
							height: 2px;
							border-radius: 2px;
							margin-left: 8px;

							& .controler {
								width: 12px;
								height: 12px;
								border-radius: 50%;
								background-color: #fff;
								position: absolute;
								left: 40%;
								transform: translate(-50%, -50%);
							}
						}

						& .time_end {
							font-size: 12px;
							margin-left: 8px;

						}
					}
				}
			}
		}
	}

	& .popular {
		overflow-x: clip;
		padding-top: 30px;
		padding-bottom: 30px;

		& .subtitle {}

		& .popular_list {
			display: flex;
			white-space: nowrap;
			gap: 20px;
			margin-top: 30px;

			& .popular_item {
				flex-shrink: 0;
				height: 280px;
				width: 200px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}

	& .best_films {
		overflow-x: clip;
		padding-top: 30px;
		padding-bottom: 30px;

		& .subtitle {}

		& .best_films_list {
			display: flex;
			white-space: nowrap;
			gap: 20px;
			margin-top: 30px;

			& .best_films_item {
				flex-shrink: 0;
				height: 280px;
				width: 200px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}

	& .premiere {
		padding-top: 30px;
		padding-bottom: 30px;

		& .premiere_block {
			background-image: url("https://preview.redd.it/ic9y69r9xvf51.jpg?auto=webp&s=a6de94d1a9aa9b3649d0f1b0a2421b47aa23c68d");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			margin-top: 30px;
			padding: 50px;

			& .description {


				& .title {
					text-transform: uppercase;
					font-weight: var(--font-weight-medium);
				}

				& .information {
					margin-top: 50px;
					font-size: 14px;

					& .duration {

					}

					& .genre {
						margin-left: 20px;
					}

					& .film_year {
						margin-left: 20px;
					}
				}

				& .name_film {
					font-size: 50px;
					font-weight: var(--font-weight-bold);
				}

				& .info {
					margin-top: 16px;
					width:400px;
				}

			}

			& .button_info {
				--icon-color: #fff;
				--icon-size: 24px;
				display: flex;
				align-items: center;
				margin-top: 20px;
				color: #fff;
				font-size: 16px;
				font-weight: var(--font-weight-medium);

				& i {
					margin-left: 12px;
				}
			}

			& .play_watch_button {
				--icon-color: #fff;
				--icon-size: 36px;
				margin-top: 50px;
				display: flex;
				align-items: center;
				text-transform: uppercase;
				font-size: 14px;
				color: #fff;
				font-weight: var(--font-weight-semibold);

				& .button_text {
					margin-left: 16px;
				}
			}
		}
	}
}
