.create_movie {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	background-color: var(--root-background-color);

	& .form {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		min-height: 0;

		& .content {
			flex-grow: 1;
			overflow-x: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 0;
			padding: var(--layout-padding);
			background-color: var(--root-background-color);

			& .form_box {
				width: 100%;
				max-width: 500px;

				& .title {
					flex-shrink: 0;
					font-size: 30px;
				}

				& .caption {
					margin-top: 12px;
					color: var(--caption-color);

					& + * {
						margin-top: 30px;
					}
				}
			}
		}

		& .footer {
			flex-shrink: 0;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			column-gap: 20px;
			height: 100px;
			padding-left: var(--layout-padding);
			padding-right: var(--layout-padding);
			background-color: var(--root-background-color);

			&::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				height: 1px;
				background-color: var(--divider-color);
			}
		}
	}
}
