.videos {
	@media (--viewport-tablet) {
		overflow: hidden;
	}

	& .subtitle {
		font-size: 30px;
		color: var(--primary-color);
		font-weight: var(--font-weight-bold);
	}

	&  :global(.container) {
		& .subtitle {

		}

		& .trailer_container {
			margin-top: 30px;

			& .video {
				position: relative;
				display: block;
				width: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				background-color: var(--root-background-color-hover);
				transform: var(--transform);
				transition-property: transform;

				@media (--viewport-from-tablet) {
					&:not(:hover) {
						--transform: none;
					}

					&:hover {
						--transform: scale(1.1);
						z-index: 1;
					}
				}

				&:before {
					content: "";
					display: block;
					padding-top: 56%;
				}

				& .type {
					position: absolute;
					left: 12px;
					bottom: 12px;
					color: var(--text-color);
					font-size: var(--default-font-size);
					font-weight: var(--font-weight-semibold);
				}
			}
		}
	}
}
