.movie_card {
	position: relative;
	display: block;
	width: var(--movie-card-width);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	animation: background-loading 1s linear infinite;

	&:after {
		content: "";
		display: block;
		padding-top: 150%;
	}

	@media (--viewport-tablet) {
		--movie-card-opacity: 0;
	}

	@media (--viewport-from-tablet) {
		&:not(:hover) {
			--movie-card-opacity: 0;
		}

		&:hover {
			--movie-card-opacity: 1;
		}
	}

	& .content {
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 20px;
		opacity: var(--movie-card-opacity);
		background-color: rgba(0, 0, 0, 0.9);
		transition-property: opacity;
		color: var(--primary-color);

		& .name {
			font-weight: var(--font-weight-bold);
			font-size: 20px;
		}

		& .score_film {
			margin-top: 12px;
			display: flex;
			align-items: center;

			& .rating {
				flex-shrink: 0;
				font-size: 20px;
				font-weight: var(--font-weight-semibold);
			}

			& .lane_box {
				flex-grow: 1;
				display: flex;
				align-items: center;
				margin-left: 12px;
				height: 2px;
				background-color: var(--primary-color);
				border-radius: 2px;

				& .score_line {
					width: 93%;
					height: 100%;
					background-color: var(--accent-color-hover);
				}
			}

			& + .film_properties {
				margin-top: 12px;
			}
		}

		& .description {
			margin-top: 12px;
			font-size: 14px;

			& + .film_properties {
				margin-top: 12px;
			}
		}

		& .film_properties {
			font-size: 12px;

			& + .film_properties {
				margin-top: 4px;
			}
		}
	}
}

@keyframes background-loading {
	0% {
		background-color: var(--root-background-color-hover);
	}

	50% {
		background-color: #0c0c0c;
	}

	100% {
		background-color: var(--root-background-color-hover);
	}
}
