.movie_card {
	position: relative;
	display: block;
	width: var(--movie-card-width);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	animation: background-loading 1s linear infinite;

	&:after {
		content: "";
		display: block;
		padding-top: 150%;
	}

	&:hover {
		& .content {
			opacity: 1;
		} 
	}

	& .content {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 12px;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.9);
		transition-property: opacity;
		color: var(--primary-color);

		& .name {
			font-weight: var(--font-weight-bold);
			font-size: 20px;
		}

		& .rating {
			font-size: 20px;
			font-weight: var(--font-weight-semibold);
		}
		
		& .score_film {
			margin-top: 12px;
			display: flex;
			align-items: center;

			& .lane_box {
				--height-line: 2px;
				display: flex;
				align-items: center;
				margin-left: 8px;
				height: var(--height-line);
				min-width: 100px;
				background-color: #fff;
				border-radius: calc(var(--height-line) / 2);

				& .score_line {
					height: 100%;
					background-color: #ff0000;
					width: 93%;

				}
			}
		}

		& .description {
			margin-top: 12px;
			font-size: 12px;
		}

		& .film_info {
			margin-top: 12px;
			font-size: 12px;

			& span {
				display: block;
			}

			& > :nth-of-type(n+2) {
				margin-top: 12px;
			}
		}
	}
}

@keyframes background-loading {
	0% {
		background-color: var(--root-background-color-hover);
	}

	50% {
		background-color: #0c0c0c;
	}

	100% {
		background-color: var(--root-background-color-hover);
	}
}
