.movie_card {
	position: relative;
	display: block;
	width: var(--movie-card-width);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	animation: background-loading 1s linear infinite;

	&:before {
		content: "";
		display: block;
		padding-top: 150%;
	}
}

@keyframes background-loading {
	0% {
		background-color: var(--root-background-color-hover);
	}

	50% {
		background-color: #0c0c0c;
	}

	100% {
		background-color: var(--root-background-color-hover);
	}
}
