.film_details {
	--background-opacity: 0.4;
	position: relative;
	padding-top: var(--header-height);
	padding-bottom: var(--layout-padding);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	&:before {
		content: "";
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		background-color: rgba(0, 0, 0, var(--background-opacity));
	}

	& .subtitle {
		font-size: 30px;
		color: var(--primary-color);
		font-weight: var(--font-weight-bold);
	}

	& > * {
		position: relative;
		z-index: 1;
	}

	& .description {
		padding-top: 100px;

		& :global(.container) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;

			& .title {
				max-width: 50%;
				text-shadow: 2px 1px var(--root-background-color-hover);
			}

			& .additional_information {
				margin-top: 20px;

				& .match {
					color: var(--primary-color);
					font-size: 20px;
					font-weight: var(--font-weight-semibold);
				}

				& .year {
					margin-left: 20px;
					color: var(--primary-color);
					font-size: 20px;
				}

				& .age_limit {
					--height: 30px;
					height: var(--height);
					margin-left: 20px;
					padding-left: 8px;
					padding-right: 8px;
					line-height: var(--height);
					font-size: 20px;
					color: var(--primary-color);
					border: 1px solid rgba(255, 255, 255, 0.5);
					border-radius: 2px;
				}
			}

			& .play_button {
				margin-top: 40px;
			}
		}

		& + section {
			margin-top: 100px;

			& ~ section {
				margin-top: 80px;
			}
		}
	}

	& .overview {
		& :global(.container) {
			display: flex;

			& .section {
				flex-basis: 75%;

				& .subtitle {

				}

				& .text {
					margin-top: 30px;
					font-size: 16px;
					color: rgba(255, 255, 255, 0.8);
				}
			}

			& .genres {
				flex-basis: 20%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin-left: 5%;

				& .subtitle {

				}

				& .item {
					font-size: 16px;
					color: rgba(255, 255, 255, 0.8);
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);

					&:first-of-type {
						margin-top: 30px;
					}

					&:nth-of-type(n+2) {
						margin-top: 5px;
					}
				}
			}
		}
	}

	& .videos {
		&  :global(.container) {
			& .subtitle {

			}

			& .trailer_container {
				margin-top: 30px;

				& .video_wrapper {
					position: relative;
					background-color: var(--root-background-color-hover);

					&:before {
						content: "";
						display: block;
						padding-top: 56%;
					}

					& video {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}

	& .cast {
		& :global(.container) {
			& .subtitle {

			}

			& .cast_list {
				margin-top: 30px;

				& .actor {
					display: flex;
					align-items: center;

					&:nth-of-type(n+2) {
						margin-left: 50px;
					}

					& .avatar {
						--size: 100px;
						flex-shrink: 0;
						width: var(--size);
						height: var(--size);
						border-radius: 50%;
						background-color: var(--root-background-color-hover);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
					}

					& .actor_data {
						flex-grow: 1;
						display: flex;
						flex-direction: column;
						justify-content: center;
						min-width: 0;
						margin-left: 20px;

						& .name {
							font-size: 20px;
							color: var(--primary-color);
							font-weight: var(--font-weight-bold);
						}

						& .character {
							margin-top: 2px;
							font-size: 15px;
							color: rgba(255, 255, 255, 0.8);
						}
					}
				}
			}
		}
	}

	& .popular {
		& :global(.container) {
			& .popular_container {
				margin-top: 30px;
			}
		}
	}
}
