.icon {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--icon-color);
  mask-size: var(--icon-size) var(--icon-size);
  mask-position: center;
  mask-repeat: no-repeat;
  transition-property: background-color;
  pointer-events: none;
}

.icon[data-icon="account_circle"] {
  mask-image: url('./icons/account_circle.svg');
}

.icon[data-icon="email"] {
  mask-image: url('./icons/email.svg');
}

.icon[data-icon="lock"] {
  mask-image: url('./icons/lock.svg');
}

.icon[data-icon="facebook"] {
  mask-image: url('./icons/facebook.svg');
}

.icon[data-icon="google-plus"] {
  mask-image: url('./icons/google-plus.svg');
}

.icon[data-icon="vk"] {
  mask-image: url('./icons/vk.svg');
}

.icon[data-icon="bell"] {
  mask-image: url('./icons/bell.svg');
}

.icon[data-icon="visibility"] {
  mask-image: url('./icons/visibility.svg');
}

.icon[data-icon="visibility_off"] {
  mask-image: url('./icons/visibility_off.svg');
}

.icon[data-icon="person"] {
  mask-image: url('./icons/person.svg');
}

.icon[data-icon="people"] {
  mask-image: url('./icons/people.svg');
}

.icon[data-icon="search"] {
  mask-image: url('./icons/search.svg');
}

.icon[data-icon="star"] {
  mask-image: url('./icons/star.svg');
}

.icon[data-icon="done"] {
  mask-image: url('./icons/done.svg');
}

.icon[data-icon="star_border"] {
  mask-image: url('./icons/star_border.svg');
}

.icon[data-icon="expand_less"] {
  mask-image: url('./icons/expand_less.svg');
}

.icon[data-icon="expand_more"] {
  mask-image: url('./icons/expand_more.svg');
}

.icon[data-icon="filter_list"] {
  mask-image: url('./icons/filter_list.svg');
}

.icon[data-icon="favorite_border"] {
  mask-image: url('./icons/favorite_border-black.svg');
}

.icon[data-icon="favorite"] {
  mask-image: url('./icons/favorite-black.svg');
}

.icon[data-icon="queue_music"] {
	mask-image: url('./icons/queue_music-black.svg');
}

.icon[data-icon="question"] {
	mask-image: url('./icons/question.svg');
}

.icon[data-icon="play"] {
  mask-image: url('./icons/play.svg');
}

.icon[data-icon="play_outline"] {
  mask-image: url('./icons/play_outline.svg');
}

.icon[data-icon="arrow_forward"] {
  mask-image: url('./icons/arrow_forward.svg');
}

.icon[data-icon="east"] {
	mask-image: url('./icons/east.svg');
}

.icon[data-icon="menu"] {
	mask-image: url('./icons/menu.svg');
}

.icon[data-icon="close"] {
	mask-image: url('./icons/close.svg');
}

.icon[data-icon="mark"] {
	mask-image: url('./icons/mark.svg');
}

.icon[data-icon="settings"] {
  mask-image: url('./icons/settings.svg');
}

.icon[data-icon="logout"] {
	mask-image: url('./icons/logout.svg');
}

.icon[data-icon="play_arrow"] {
	mask-image: url('./icons/play_arrow.svg');
}

.icon[data-icon="pause"] {
	mask-image: url('./icons/pause.svg');
}

.icon[data-icon="fullscreen"] {
	mask-image: url('./icons/fullscreen.svg');
}

.icon[data-icon="fullscreen_exit"] {
	mask-image: url('./icons/fullscreen_exit.svg');
}

.icon[data-icon="volume_up"] {
	mask-image: url('./icons/volume_up.svg');
}

.icon[data-icon="volume_down"] {
	mask-image: url('./icons/volume_down.svg');
}

.icon[data-icon="volume_off"] {
	mask-image: url('./icons/volume_off.svg');
}

.icon[data-icon="replay_10"] {
	mask-image: url('./icons/replay_10.svg');
}

.icon[data-icon="forward_10"] {
	mask-image: url('./icons/forward_10.svg');
}

.icon[data-icon="local_movies"] {
  mask-image: url('./icons/local_movies.svg');
}

.icon[data-icon="live_tv"] {
  mask-image: url('./icons/live_tv.svg');
}

.icon[data-icon="replay"] {
  mask-image: url('./icons/replay.svg');
}

.icon[data-icon="delete"] {
  mask-image: url('./icons/delete.svg');
}

.icon[data-icon="edit"] {
  mask-image: url('./icons/edit.svg');
}

.story_icon {
	--icon-size: 50px;
	--icon-color: var(--primary-color);
}
