.table {
	--row-height: 64px;
	--headings-height: 50px;
	overflow: auto;
	position: relative;
	background-color: var(--root-background-color);

	& .headings {
		z-index: 1;
		position: sticky;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		min-width: fit-content;
		height: var(--headings-height);
		padding-left: var(--layout-padding);
		padding-right: var(--layout-padding);
		box-shadow: 0 0 8px var(--root-background-color-hover);
		background-color: var(--root-background-color);

		& .fake_button {
			width: var(--row-height);
			margin-right: calc((var(--row-height) / 2) * -1);
		}
	}

	& .row {
		display: flex;
		align-items: center;
		min-width: fit-content;
		height: var(--row-height);
		padding-left: var(--layout-padding);
		padding-right: var(--layout-padding);
		background-color: var(--background-color);
		transition-property: background-color;

		&:not(:hover) {
			--background-color: var(--root-background-color);
			--icon-opacity: 0;
		}

		&:hover {
			--background-color: #8483831c;
			--icon-opacity: 1;
		}

		& .delete_button {
			--icon-size: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--row-height);
			height: var(--row-height);
			margin-right: calc((var(--row-height) / 2) * -1);
			opacity: var(--icon-opacity);
			transition-property: opacity;

			&:not(:hover) {
				--icon-color: var(--caption-color);
			}

			&:hover {
				--icon-color: var(--primary-color);
			}
		}
	}

	& .loading {
		top: var(--headings-height)
	}
}
