.suspense {
	& .title {
		width: 200px;
		height: 30px;
		animation: background-loading 1s linear infinite;
	}

	& .title + .row {
		margin-top: 20px;
	}

	& .row {
		display: flex;
		align-items: center;
		height: 40px;

		& .label {
			width: 100px;
			height: 20px;
			animation: background-loading 1s linear infinite;
		}

		& .value {
			width: 100px;
			height: 20px;
			margin-left: 150px;
			animation: background-loading 1s linear infinite;
		}
	}
}

@keyframes background-loading {
	0% {
		background-color: var(--root-background-color-hover);
	}

	50% {
		background-color: #0c0c0c;
	}

	100% {
		background-color: var(--root-background-color-hover);
	}
}
