.genre {
	--height: 34px;
	--icon-size: 16px;
	display: flex;
	align-items: center;
	width: fit-content;
	height: var(--height);
	padding-left: 16px;
	padding-right: 16px;
	border-radius: calc(var(--height) / 2);
	background-color: rgb(var(--color-rgb) / 20%);

	&:not(:hover) {
		--icon-opacity: 0;
		--icon-margin-left: 0;
		--icon-width: 0;
	}

	&:hover {
		--icon-opacity: 1;
		--icon-margin-left: 12px;
		--icon-width: var(--icon-size);
	}

	& > p {
		flex-grow: 1;
		overflow: hidden;
		min-width: 0;
		font-size: var(--default-font-size);
		color: rgb(var(--color-rgb));
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	& > i {
		--icon-color: rgb(var(--color-rgb));
		flex-shrink: 0;
		width: var(--icon-width);
		margin-left: var(--icon-margin-left);
		opacity: var(--icon-opacity);
		transition-property: width, margin-left, opacity, background-color;
	}

	& > .loading {
		--spinner-size: var(--icon-size);
		--line-color: rgb(var(--color-rgb));
		position: relative;
		width: var(--icon-size);
		height: var(--icon-size);
		margin-left: 12px;
	}

	&[data-genre="crime"] {
		--color-rgb: 200 8 8;
	}

	&[data-genre="action"] {
		--color-rgb: 255 116 0;
	}

	&[data-genre="thriller"] {
		--color-rgb: 56 48 174;
	}

	&[data-genre="mystery"] {
		--color-rgb: 173 38 97;
	}

	&[data-genre="animation"] {
		--color-rgb: 201 4 57;
	}

	&[data-genre="fantasy"] {
		--color-rgb: 104 90 177;
	}

	&[data-genre="war"] {
		--color-rgb: 112 118 120;
	}

	&[data-genre="history"] {
		--color-rgb: 161 161 8;
	}

	&[data-genre="documentary"] {
		--color-rgb: 106 179 50;
	}

	&[data-genre="western"] {
		--color-rgb: 200 54 51;
	}

	&[data-genre="drama"] {
		--color-rgb: 238 54 56;
	}

	&[data-genre="adventure"] {
		--color-rgb: 37 183 94;
	}

	&[data-genre="horror"] {
		--color-rgb: 100 71 148;
	}

	&[data-genre="romance"] {
		--color-rgb: 243 102 119;
	}

	&[data-genre="comedy"] {
		--color-rgb: 234 166 44;
	}

	&[data-genre="family"] {
		--color-rgb: 58 162 24;
	}

	&[data-genre="biography"] {
		--color-rgb: 193 12 69;
	}

	&[data-genre="musical"] {
		--color-rgb: 21 74 160;
	}
}
