.overview {
	& .section {
		& + .section {
			margin-top: 30px;
		}

		& .row {
			display: flex;
			align-items: center;
			height: 40px;

			& .label {
				width: 250px;
			}

			& .status_value {
				display: flex;
				align-items: center;

				& .status {
					min-width: 80px;
				}

				& .switch {
					margin-left: 20px;
				}
			}
		}
	}
}
