.sidebar {
	--link-size: 150px;
	display: flex;
	flex-direction: column;
	width: var(--link-size);
	z-index: 3;
	background-color: var(--root-background-color-hover);
	box-shadow: 0px 0px 12px 0 var(--root-background-color-hover);

	& .navigation {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-y: auto;
		background-color: var(--root-background-color-hover);

		& .link {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-shrink: 0;
			justify-content: center;
			width: var(--link-size);
			height: var(--link-size);
			padding-left: 12px;
			padding-right: 12px;
			background-color: var(--background);
			transition-property: background;

			&:last-child {
				margin-top: auto;
			}

			&:not(._is-active) {
				&:not(:hover) {
					--color: var(--caption-color);
					--icon-color: var(--caption-color);
				}

				&:hover {
					--color: var(--primary-color);
					--icon-color: var(--primary-color);
				}
			}

			&._is-active {
				--background: rgb(180 30 30 / 20%);
				--color: var(--accent-color-hover);
				--icon-color: var(--accent-color-hover);
			}

			& i {
				--icon-size: 32px;
				flex-shrink: 0;
			}

			& .caption {
				margin-top: 20px;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: var(--color);
				transition-property: color;
			}
		}
	}
}
