.search_overlay {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.93);
	padding-top: 100px;

		& .close_button {
			--icon-color: var(--caption-color);
			--icon-size: 32px;
			padding: 8px;
			position: absolute;
			right: 32px;
			top: 32px;

			&:hover {
				--icon-color: var(--primary-color);
			}
		}

	& .main_block {
		margin-left: auto;
		margin-right: auto;
		width: 600px;

		& .input_container {
			--icon-size: 20px;
			--icon-color: var(--divider-color);
			position: relative;
			margin-top: 20px;


			& .input_section {
				height: 40px;
				width: 100%;
				padding-left: calc(var(--icon-size) + 8px);
				padding-right: 16px;
				font-size: var(--default-font-size);
				background-color: transparent;
				color: var(--primary-color);
				border: 0;
				border-bottom: 2px solid var(--primary-color);
				
			}

			& i {
				position: absolute;
				top: 50%;
				left: 2px;
				transform: translateY(-50%);
			}
		}

		& .movies_list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-top: 24px;
			gap: 20px 30px;

			& .movie {
				color: var(--caption-color);
				transition-property: color;
				cursor: pointer;

				&:hover {
					color: var(--primary-color);
				}

				& .name {
					font-weight: var(--font-weight-semibold);
				}

				& .year {
					display: block;
					margin-top: 4px;
					font-size: 12px;
				}
			}
		}
	}
}
