.auth {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
 	display: flex;
	flex-direction: column;

	& .header {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: var(--header-height);
		display: flex;
		align-items: center;
		justify-content: center;

		& .logo {
			color: var(--text-color);
			font-weight: var(--font-weight-bold);
			font-size: 24px;
		}
	}

	& .section {
		flex-shrink: 0;
		width: 400px;
		margin: auto;
		padding: var(--layout-padding);
		border-radius: 2px;

		@media (--viewport-phone) {
			width: 100%;
		}

		& .title {
			margin-top: 12px;
			font-size: 40px;
			text-align: center;
			font-weight: var(--font-weight-regular);

			& + .form {
				margin-top: 40px;
			}
		}

		& .another_text {
			margin-top: 40px;
			font-size: 14px;
			color: var(--caption-color);

			& + .form {
				margin-top: 8px;
			}
		}

		& .form {
			display: flex;
			flex-direction: column;
			align-items: center;

			& .input {
				width: 100%;

				& + .forgot {
					margin-top: 12px;
				}

				& + .submit {
					margin-top: 40px;
				}
			}

			& .forgot {
				font-size: 13px;
				color: var(--text-color);
				padding-bottom: 4px;
				border-bottom: 1px solid var(--border-color);
				font-style: italic;
				transition-property: border-bottom;

				&:not(:hover) {
					--border-color: var(--divider-color);
				}

				&:hover {
					--border-color: var(--primary-color);
				}

				& + .submit {
					margin-top: 30px;
				}
			}

			& .submit {
				--width: 100%;
			}
		}

		& .signin_link {
			display: block;
			margin-top: 30px;

			& button {
				width: 100%;
			}
		}
	}

	& .auth_link {
		position: absolute;
		bottom: var(--layout-padding);
		right: var(--layout-padding);
		color: var(--caption-color);
		padding-left: var(--layout-padding);
		font-size: 15px;

		& > a,
		& > button {
			color: var(--color);
			transition-property: color;
			font-size: 15px;

			&:not(:hover) {
				--color: var(--link-color);
			}

			&:hover {
				--color: var(--link-color-hover);
			}
		}
	}
}


