.header {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	height: var(--header-height);
	position: sticky;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--header-background-color);
	box-shadow: 0 2px 2px var(--header-background-color);
	transition-property: box-shadow, background-color;

	& + main {
		margin-top: calc(var(--header-height) * -1);
	}

	&:not(:global(._is-filled)) {
		--header-background-color: transparent;
	}

	&:global(._is-filled) {
		--header-background-color: var(--root-background-color-hover);
	}

	& :global(.container) {
		z-index: 2;
		position: relative;
		display: grid;
		grid-template-columns: [nav-start] 1fr [nav-end] 30px [logo-start] auto [logo-end] 30px [actions-start] 1fr [actions-end];
		align-items: center;

		@media (--viewport-laptop) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		& .navigation {
			grid-area: nav;
			display: flex;
			align-items: center;
			min-width: 0;

			@media (--viewport-laptop) {
				display: none;
			}

			& .link {
				color: #fff;
				font-size: 16px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				&:nth-of-type(n+2) {
					margin-left: 30px;
				}
			}
		}

		& .logo {
			grid-area: logo;
			flex-shrink: 0;
			color: #fff;
			font-weight: var(--font-weight-bold);
			font-size: 26px;

			@media (--viewport-laptop) {
				font-size: 22px;
			}
		}

		& .actions {
			grid-area: actions;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			min-width: 0;

			@media (--viewport-laptop) {
				display: none;
			}

			& .button {
				--button-size: 40px;
				--icon-size: 24px;
				--icon-color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				width: var(--button-size);
				height: var(--button-size);

				&:nth-of-type(n+2) {
					margin-left: 12px;
				}

				& .avatar {
					--size: 34px;
					width: var(--size);
					height: var(--size);
					border-radius: 50%;
					background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnTPndLSFHM9SS8t1wJYeBjfurdYsg8MVYsg&usqp=CAU");
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}

		& .mobile_menu {
			--button-size: 40px;
			--icon-size: 28px;
			--icon-color: var(--primary-color);
			display: none;
			justify-content: center;
			align-items: center;
			width: var(--button-size);
			height: var(--button-size);
			margin-right: calc(((var(--button-size) - var(--icon-size)) / 2) * -1);

			@media (--viewport-laptop) {
				display: flex;
			}
		}
	}
}
