.header {
		position: sticky;
		z-index: 1;
		flex-shrink: 0;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: var(--header-height);
		padding-left: var(--layout-padding);
		padding-right: var(--layout-padding);
		background-color: var(--primary-color);

	& .logo {
		& h1 {
			--height: 30px;
			z-index: 1;
			position: relative;
			height: var(--height);
			padding-left: 12px;
			padding-right: 12px;
			margin-left: -12px;
			line-height: var(--height);
			font-size: 24px;
			color: var(--color);
			font-weight: var(--font-weight-black);
			transition-property: color;

			&::before {
				z-index: -1;
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: var(--background-color);
				transform: skewX(-24deg);
				transition-property: background-color;
			}

			&:not(:hover) {
				--color: var(--primary-color);
				--background-color: #fff;
			}

			&:hover {
				--color: #fff;
				--background-color: var(--primary-color);
			}
		}
	}

	& .profile_button {
		--icon-size: 40px;
		--icon-color: #fff;
		margin-left: auto;
	}
}


