.dropdown {
	position: relative;

	& .button {
		width: 130px;
		height: 50px;
		background-color: var(--root-background-color-hover);
		border-radius: 3px;
		color: var(--primary-color);
		font-size: var(--default-font-size);
		text-align: center;
	}

	& .dropdown_list {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 52px;
	}
}
