.suspense {
	padding-top: calc(var(--layout-padding) + 20px);

	& + footer {
		display: none;
	}

	& .title {
		width: 250px;
		height: 70px;
		animation: background-loading 1s linear infinite;
	}

	& .filters {
		display: flex;
		margin-top: calc(30px + 20px);

		& .item {
			width: 200px;
			height: 40px;
			animation: background-loading 1s linear infinite;

			& + .item {
				margin-left: 20px;
			}
		}
	}
}

@keyframes background-loading {
	0% {
		background-color: var(--root-background-color-hover);
	}

	50% {
		background-color: #0c0c0c;
	}

	100% {
		background-color: var(--root-background-color-hover);
	}
}
