.subheader {
	display: flex;
	align-items: center;
	padding: 20px var(--layout-padding);

	& .title {
		font-weight: var(--font-weight-semibold);
		color: var(--text-color);
		font-size: 28px;
	}

	& .search_button {
		--icon-size: 26px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 100%;
		margin-left: auto;

		&:not(:hover) {
			--icon-color: var(--caption-color);
		}

		&:hover {
			--icon-color: var(--primary-color);
		}
	}

	& .add_button {
		flex-shrink: 0;
		margin-left: 12px;
	}
}
