.header {
	padding-top: 20px;

	& .title_wrapper {
		display: flex;
		align-items: center;
		padding-left: var(--layout-padding);
		padding-right: var(--layout-padding);

		& .title {
			--height: 58px;
			overflow: hidden;
			flex-grow: 1;
			min-width: 0;
			height: var(--height);
			margin-left: -12px;
			padding-left: 12px;
			padding-right: 12px;
			line-height: var(--height);
			font-weight: var(--font-weight-semibold);
			color: var(--text-color);
			font-size: 28px;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		& .add_menu_wrapper {
			--add-button-size: 60px;
			position: relative;
			flex-shrink: 0;
			margin-left: 20px;

			&:hover {
				--transform: rotate(135deg);
			}

			& .add_button {
				--icon-size: 26px;
				--icon-color: var(--primary-color);
				display: flex;
				align-items: center;
				justify-content: center;
				height: var(--add-button-size);
				width: var(--add-button-size);
				border-radius: 50%;
				background-color: #bf1919;

				& i {
					transform: var(--transform);
					transition-property: transform;
				}
			}

			& .add_button:hover + .dropdown {
				--dropdown-opacity: 1;
				--dropdown-pointer-events: auto;
			}

			& .dropdown {
				--triangle-size: 10px;
				z-index: 1;
				position: absolute;
				top: calc(100% + var(--triangle-size) + 12px);
				right: 0;
				padding-top: 16px;
				padding-bottom: 16px;
				border-radius: 4px;
				background-color: var(--root-background-color-hover);
				pointer-events: var(--dropdown-pointer-events);
				opacity: var(--dropdown-opacity);
				transition-property: opacity;

				&:not(:hover) {
					--dropdown-opacity: 0;
					--dropdown-pointer-events: none;
				}

				&:hover {
					--dropdown-opacity: 1;
					--dropdown-pointer-events: auto;
				}

				&:after {
					content: "";
					position: absolute;
					bottom: 100%;
					left: 0;
					right: 0;
					height: calc((var(--add-button-size) / 2) + var(--triangle-size) + 12px);
				}

				&:before {
					content: "";
					position: absolute;
					bottom: 100%;
					right: calc(var(--add-button-size) / 2);
					transform: translateX(50%);
					width: 0;
					height: 0;
					border-left: var(--triangle-size) solid transparent;
					border-right: var(--triangle-size) solid transparent;
					border-bottom: var(--triangle-size) solid var(--root-background-color-hover);
				}

				& .dropdown_link {
					--icon-size: 26px;
					display: flex;
					align-items: center;
					height: 54px;
					padding-left: 20px;
					padding-right: 20px;
					color: var(--color);
					background-color: var(--background);
					transition-property: color, background;

					& i {
					}

					& span {
						margin-left: 20px;
						white-space: nowrap;
					}

					&:not(:hover) {
						--icon-color: var(--caption-color);
						--color: var(--caption-color);
						--background: transparent;
					}

					&:hover {
						--icon-color: var(--primary-color);
						--color: var(--primary-color);
						--background: #ffffff0d;
					}
				}
			}
		}
	}

	& .navigation {
		margin-top: 20px;
		padding-left: var(--layout-padding);
		padding-right: var(--layout-padding);
	}
}
