.suspense {
	& .title {
		width: 200px;
		height: 30px;
		border-radius: 3px;
		animation: background-loading 1s linear infinite;
	}

	& .caption {
		width: 350px;
		height: 80px;
		margin-top: 12px;
		border-radius: 3px;
		animation: background-loading 1s linear infinite;
	}

	& .image {
		position: relative;
		width: 100%;
		max-width: 800px;
		margin-top: 12px;
		border-radius: 3px;
		animation: background-loading 1s linear infinite;

		&:before {
			content: "";
			display: block;
			padding-top: 56%;
		}
	}
}

@keyframes background-loading {
	0% {
		background-color: var(--root-background-color-hover);
	}

	50% {
		background-color: #0c0c0c;
	}

	100% {
		background-color: var(--root-background-color-hover);
	}
}
