@custom-media --viewport-desktop-extra-large (width <= 1920px);
@custom-media --viewport-desktop-large (width <= 1680px);
@custom-media --viewport-desktop-medium (width <= 1400px);
@custom-media --viewport-desktop-small (width <= 1280px);
@custom-media --viewport-laptop (width <= 1024px);
@custom-media --viewport-tablet (width <= 768px);
@custom-media --viewport-phone (width <= 480px);

@custom-media --viewport-laptop-from (width > 1024px);

:root {
	--font-family-regular: 'Montserrat';

	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	--primary-color-rgb: 255 255 255;
	--root-background-color-hover-rgb: 0 0 0;

	--text-color: #f5eded;
	--primary-color: rgb(var(--primary-color-rgb));
	--accent-color: #b61423;
	--accent-color-hover: #df2020;
	--error-color: #d31f1f;
	--caption-color: #d3d3d4;
	--divider-color: #414141;
	--link-color: #ff6666;
	--link-color-hover: #ff2626;

	--root-background-color: #121212;
	--root-background-color-hover: rgb(var(--root-background-color-hover-rgb));

	--container-width: 1920px;
	--header-height: 100px;
	--layout-padding: 40px;
	--default-input-height: 48px;
	--default-font-size: 16px;

	@media (--viewport-laptop) {
		--header-height: 80px;
	}

	@media (--viewport-tablet) {
		--layout-padding: 30px;
	}

	@media (--viewport-phone) {
		--layout-padding: 20px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	transition-property: none;
	transition-duration: 0.3s;
}

html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	perspective: 5px;
	transform-style: preserve-3d;
	scroll-behavior: smooth;
	background-color: var(--root-background-color);
	color: var(--text-color);
	font-size: var(--default-font-size);
	font-family: var(--font-family-regular), sans-serif;
	font-weight: var(--font-weight-regular);
}

:global(#app) {
	/* don't add height */
	display: flex;
	flex-direction: column;
}

:global(#overlay-root) {
	z-index: 4;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;

	& > * {
		pointer-events: auto;
	}
}

a {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

::selection {
	color: var(--root-background-color);
	background-color: var(--primary-color);
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
}

input,
textarea,
button {
	font-family: var(--font-family-regular);
}

h1,
h2,
h3,
pre,
p {
	margin: 0;
}

h1,
h2,
h3 {
	font-weight: var(--font-weight-bold);
}

h1 {
	font-size: 80px;

	@media (--viewport-laptop) {
		font-size: 64px;
	}

	@media (--viewport-phone) {
		font-size: 50px;
	}
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 28px;
}

p {
	line-height: 1.5;
}

button {
	padding: 0;
	border: 0;
	cursor: pointer;
	text-align: left;
	background-color: transparent;
}

img {
	max-width: 100%;
	max-height: 100%;
}

:global(.container) {
	width: 100%;
	max-width: var(--container-width);
	padding-left: var(--layout-padding);
	padding-right: var(--layout-padding);
	margin-left: auto;
	margin-right: auto;
}
