.profile_page {
	display: flex;
	height: calc(100vh - var(--header-height));

	& .sidebar {
		flex-shrink: 0;
		width: 300px;
		box-shadow: 0 0 8px var(--root-background-color-hover);

		& .avatar {
			--avatar-size: 300px;
			background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnTPndLSFHM9SS8t1wJYeBjfurdYsg8MVYsg&usqp=CAU");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: var(--avatar-size);
			height: var(--avatar-size);
		}

		& .description {
			display: block;
			margin-top: 30px;
			padding-left: 30px;
			padding-right: 30px;
		}

		& .social {
			--icon-size: 24px;
			margin-top: 20px;
			padding-left: 30px;
			padding-right: 30px;

			& .social_button {
				--padding: 8px;
				padding: var(--padding);

				&:nth-of-type(n+2) {
					margin-left: 8px;
				}

				&:first-child {
					margin-left: calc(var(--padding) * -1);
				}

				&:not(:hover) {
					--icon-color: var(--caption-color);
				}

				&:hover {
					--icon-color: var(--primary-color);
				}
			}
		}

		& .navigation {
			margin-top: 30px;

			& .link_button {
				--icon-color: var(--caption-color);
				--icon-size: 24px;
				--height: 60px;
				display: flex;
				align-items: center;
				height: var(--height);
				padding-left: 30px;
				padding-right: 30px;
				line-height: var(--height);
				font-weight: var(--font-weight-semibold);

				&:not(:hover) {
					--icon-opacity: 0;
					--span-margin: 0;
					--color: var(--caption-color);
				}

				&:hover {
					--icon-opacity: 1;
					--span-margin: 50px;
					--color: var(--primary-color);
				}
			}

			& i {
				opacity: var(--icon-opacity);
				transition-property: opacity; 
			}

			& span {
				position: absolute;
				color: var(--color);
				margin-left: var(--span-margin);
				transition-property: margin-left;
			}

			& ._is-active {
				position: relative;

				&::before {
					content: "";
					position: absolute;
					height: 1px;
					width: 100%;
					background-color: var(--accent-color-hover);
					top: 100%;
					left: 0;
				}
			}
		}
	}

	& .content {
		flex-grow: 1;
		overflow: auto;

		& .movies_list {
			--movies-list-columns: 7;
			--movies-list-gap: 30px;
			display: flex;
			flex-wrap: wrap;
			gap: var(--movies-list-gap);
			padding-top: 40px;
			padding-bottom: 40px;

				@media (--viewport-desktop-extra-large) {
					--movies-list-columns: 7;
				}

				@media (--viewport-desktop-large) {
					--movies-list-columns: 6;
				}

				@media (--viewport-desktop-medium) {
					--movies-list-columns: 5;
				}

				@media (--viewport-desktop-small) {
					--movies-list-columns: 4;
				}

				@media (--viewport-laptop) {
					--movies-list-columns: 3;
				}

				@media (--viewport-tablet) {
					--movies-list-columns: 2;
				}

				@media (--viewport-phone) {
					--movies-list-columns: 1;
				}

			& .card {
				--movie-card-width: calc((100% - (var(--movies-list-gap) * (var(--movies-list-columns) - 1))) / var(--movies-list-columns));
			}
		}
	}
}
