.textarea_container {
	--input-icon-size: 20px;
	--input-icon-margin: 12px;
	--label-padding: 4px;
	position: relative;

	&:not(._is-active) {
		--label-top: 16px;
		--label-font-size: 16px;
		--placeholder-color: #a6a6a6;

		/* if label present - hide placeholder  */
		& .input_section .label ~ .input::placeholder {
			--placeholder-color: transparent;
		}

		&:not(._is-icon) {
			--label-left: calc(16px - var(--label-padding));
			--label-transform: none;
		}

		&._is-icon {
			--label-left: calc(16px - var(--label-padding) + var(--input-icon-size) + var(--input-icon-margin));
			--label-transform: translate(0, 0);
		}
	}

	&._is-active {
		--label-font-size: 12px;
		--label-top: 0;
		--label-left: calc(16px - var(--label-padding));
		--label-transform: translate(0, -50%);
		--placeholder-color: #a6a6a6;
	}

	&:not(._is-error) {
		&:not(._is-active) {
			--label-color: #a6a6a6;
			--border-width: 0.5px;
			--border-color: #5a5a5a;
			--input-icon-color: #a6a6a6;
		}

		&._is-active {
			--label-color: #fff;
			--border-width: 1.5px;
			--border-color: #fff;
			--input-icon-color: #fff;
		}
	}

	&._is-error {
		--label-color: #f70505;
		--border-color: #bf1919;
		--input-icon-color: #a6a6a6;

		&:not(._is-active) {
			--border-width: 0.5px;
		}

		&._is-active {
			--border-width: 1.5px;
		}
	}

	& .input_section {
		position: relative;
		display: flex;
		align-items: center;
		height: 120px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 16px;
		padding-right: 12px;
		border-radius: 3px;
		box-shadow: 0 0 0 var(--border-width) var(--border-color) inset;
		cursor: text;
		transition-property: box-shadow;

		& .label {
			--height: 16px;
			position: absolute;
			left: var(--label-left);
			top: var(--label-top);
			height: var(--height);;
			padding-left: var(--label-padding);
			padding-right: var(--label-padding);
			line-height: var(--height);
			font-size: var(--label-font-size);
			color: var(--label-color);
			transform: var(--label-transform);
			background-color: var(--root-background-color);
			transition-property: color, font-size, left, top, transform;
		}

		& > i {
			--icon-color: var(--input-icon-color);
			--icon-size: var(--input-icon-size);
			align-self: flex-start;
			margin-top: 4px;

			& + .input {
				margin-left: var(--input-icon-margin);
			}
		}

		& .input {
			flex-grow: 1;
			min-width: 0;
			height: calc(100% - 3px);
			padding: 0;
			line-height: 1.5;
			border: none;
			font-size: var(--default-font-size);
			color: var(--text-color);
			background-color: var(--root-background-color);
			resize: none;

			&::placeholder {
				color: var(--placeholder-color);
				transition: 0.3s color;
			}
		}
	}

	& .helper_container {
		min-height: 38px;
		padding-top: 4px;
		padding-left: 16px;

		& .helper_text {
			min-height: 18px;
			line-height: 1.5;
			font-size: 13px;
			color: #a6a6a6;
		}

		& .error_text {
			min-height: 18px;
			line-height: 1.5;
			font-size: 13px;
			color: #c81717;
		}
	}
}
