.filters {
	& :global(.container) {
		display: flex;
		align-items: center;

		@media (--viewport-laptop) {
			flex-direction: column;
			align-items: flex-start;
		}

		& .dropdown_wrapper {
			display: flex;
			align-items: center;

			& + .dropdown_wrapper {
				margin-left: 20px;

				@media (--viewport-laptop) {
					margin-left: 0;
					margin-top: 20px;
				}
			}

			& .label {
				--height: 16px;
				height: var(--height);
				line-height: var(--height);
				color: var(--caption-color);
			}

			& .dropdown {
				margin-left: 12px;

				& .genre_item {
					&:not(.is_genre_selected) {
						&:not(:hover) {
							--icon-color: transparent;
						}

						&:hover {
							--icon-color: var(--primary-color);
						}
					}

					&.is_genre_selected {
						--icon-color: var(--accent-color);
					}
				}
			}
		}
	}
}
