.design {
	& .section {
		max-width: 1320px;
		margin-left: auto;
		margin-right: auto;

		& + .section {
			margin-top: 50px;
		}

		& .subtitle {
			font-size: 20px;
			font-weight: var(--font-weight-semibold);
		}

		& .caption {
			max-width: 400px;
			margin-top: 12px;
			font-size: 14px;
			color: #aaa;
		}

		& .image {
			position: relative;
			width: 100%;
			max-width: 800px;
			margin-top: 12px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-color: var(--root-background-color-hover);

			&:not(:hover) {
				--change-image-opacity: 0;
			}

			&:hover {
				--change-image-opacity: 1;
			}

			&:before {
				content: "";
				display: block;
				padding-top: 56%;
			}
		}

		& .poster {
			position: relative;
			width: 100%;
			max-width: 300px;
			margin-top: 12px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-color: var(--root-background-color-hover);

			&:not(:hover) {
				--change-image-opacity: 0;
			}

			&:hover {
				--change-image-opacity: 1;
			}

			&:before {
				content: "";
				display: block;
				padding-top: 150%;
			}
		}

		& .change_image_wrapper {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			display: flex;
			background-color: rgba(0, 0, 0, 0.6);
			opacity: var(--change-image-opacity);
			transition-property: opacity;

			& .button {
				margin: auto;
			}
		}
	}
}
